html,body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
}

div{
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0;
    width: 20em;
    height: 20em;
    background-color: blue;
    border: 0.5rem solid black;
    
}

#inside{
    position: relative;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: black;
    border-radius: 50rem;
}

#circle1{
  float: left;
  margin: 0 auto;
  height: 5em;
  width: 5em;
  border-radius: 50rem;
  background-color: #000000;
  position: relative;
}

#circle2{
    border-radius: 50rem;
    position: relative;
    background-color: black;
    height: 5em;
    width: 5em;
    float: right;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    transform: translateY(100%);
}

#circle3{ 
  float: left;
  margin: 0 auto;
  height: 5em;
  width: 5em;
  border-radius: 50rem;
  background-color: #000000;
  position: relative;
}

#circle4{
    border-radius: 50rem;
    position: relative;
    background-color: black;
    height: 5em;
    width: 5em;
    float: right;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    transform: translateY(100%);
}
 
    
#circle-five{
    border-radius: 50rem;
    position: absolute;
    background-color: black;
    height: 5rem;
    width: 5rem;

    
}
   
    
#circle6{
    border-radius: 50rem;
    position: relative;
    background-color: black;
    height: 5em;
    width: 5em;
    float: right;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    transform: translateY(100%);
    
    
}